<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <source>
    <include>
      <directory>Classes</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="unit">
      <directory>Tests/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
