<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/typo3/cms/typo3/sysext/core/Build/FunctionalTestsBootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="false"
         verbose="false">

    <testsuites>
        <testsuite name="functional">
            <directory>TestsRewrite/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>Classes</directory>
        </whitelist>
    </filter>
</phpunit>
